.fondcandi {
  margin-top: 80px;
  background-color: #fedf00;
  width: 100%;
  height: 290px;
  display: flex;
}

.container-candi {
  margin-top: 0px;
  padding: 5px;
  background-color: #293170;
}

.container-card {
  display: flex;
  justify-content: center;
}

.card {
  width: 18rem;
  margin: 15px;
}

.card-img {
  margin-top: 10px;
  width: 100%;
  height: auto;
  border: solid 2px red;
}

@media screen and (max-width: 950px) {
  .fondcandi {
    display: flex;
    height: 20px;
    margin-top: 40px;
  }
}
